
$dark-blue: #0b1263;
$blue: #1E35A0;
$cream: #F2F1E9;
$dark-gold: #A68241;
$gold: #D9B777;

a {
  text-decoration: none;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-image {
  height: 200px;
  margin: 35px;
}

.navbar {
  background-color: $dark-blue;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 100%;

  a {
    color: $gold;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 32px;
  }

}

@media (max-width: 1250px) {
  .welcome-message {
    font-size: 96px;
  }
}

.content-wrapper {
  margin: 0 10vw;
}

.section {
  border-bottom: 1px solid lightgray;
  display: flex;
  gap: 20px;
  padding: 48px;
}

.section-question {
  color: $dark-blue;
  font-size: 40px;
  width: 40%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.section-body {
  font-family: "Open Sans", sans-serif;
  width: 60%;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  padding: 8px;

  a {
    color: $blue;
  }
}

.history {
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  width: 75%;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  margin: 30px auto;

  p {
    margin: 20px;
  }
}

.google-maps {
    margin-top: 32px;
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

