.banner-image {
  width: 100vw;
}

.welcome-message {
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 108px;
  max-width: fit-content;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.content-wrapper {
  margin: 0 10vw;
}

.section {
  display: flex;
  margin-top: 48px;
}

.section-question {
  color: #0b1263;
  font-size: 48px;
  width: 40%;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.section-body {
  width: 60%;
  font-size: 32px;
  font-weight: 500;
  padding: 8px;
}

